{{page-title "Dieza"}}

{{#if this.model.open}}
  {{outlet}}
{{else}}
  <div class="container d-flex mx-auto flex-column">
    <Notification::NotAvailable></Notification::NotAvailable>
  </div>
{{/if}}
